.container {
  display: flex;
  padding: 10px 0;
}

.container a {
  border-radius: 3px;
  line-height: 2rem;
  flex: auto;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: lightgray;
}

.loginBtn {
  border: 1px solid lightgray;
  margin: 0 5px 0 10px;
}

.joinBtn {
  background-color: rgb(20, 138, 138);
  margin: 0 10px 0 5px;
}