* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@import url("Header.css");
@import url("LoginJoin.css");
@import url("NavCategory.css");
@import url("SectionList.css");
@import url("SearchMain.css");
@import url("Item.css");

main {
    margin-top: 3rem;
}

.login-join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

