.nav-category {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  height: 2.5rem;
  align-items: center;
}

.nav-category::after {
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0;
  background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,rgb(37, 37, 37) 95%,rgb(37, 37, 37));
}

.nav-category p {
  display: inline-block;
  padding-left: 10px;
  line-height: 3rem;
  color: lightgray;
}

.section-list {
  margin-right: 10px;
  flex: auto;
  overflow: scroll;
  white-space: nowrap;
}

#section-list-separator {
  height: 70%;
  margin: auto 0;
  width: 4px;
  margin-left: 5px;
  background-color: rgb(119, 119, 119);
}

.section-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
