.container {
    margin-left: 10px;
    height: 2.2rem;
    overflow: hidden;
    border-radius: 50px;
    background-color: rgb(43, 43, 43);
    flex: auto;
}

.container form {
    display: flex;
    width: 100%;
    height: inherit;
}

.container input {
    flex: auto;
    height: 100%;
    border-style: none;
    outline: none;
    font-size: 1rem;
    background-color: inherit;
    color: white;
}

.container button {
    flex-shrink: 0;
    width: 3rem;
    height: auto;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.container img {
    width: 1rem;
    height: auto;
}